.nav {
    background: #2f323a;
    display: flex;
    align-items: center;
    padding: 1rem;
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    
}

.nav-item {
    padding: 0 1rem;
    color: rgb(191, 191, 191);
    cursor: pointer;
}

.nav p:hover {
    color: white;
}